:root{
    --color-principal: white;
}

$color-principal:white;
$sombra:0px 0px 10px beige;


header {
    display: flex;

    justify-content: space-around;

    h1{
        color:azure;
        font-family: Arial, Helvetica, sans-serif;
    }
}

nav{
   font-size: 2rem;

   ul{
    list-style:none;
    display:flex;
   }

    li{
        text-decoration: underline;
        padding: 1rem;
    }

}

.link{
    color:aliceblue;
    background-color: lightcoral;
    &:hover{
        color: antiquewhite;
        background-color: bisque;
    }
}

.link:hover{
    color:antiquewhite;
    background-color: bisque;
}

.link-active{
    color: beige;
}

@mixin flex-box(){

    display:flex;
    justify-content: center;
    align-items: center;
}

.galeria{

    @include flex-box();
}